.App {
  text-align: center;
}

.Header {
  background-color: green;
  text-align: center;
}

.Nav {
  background-color: purple;
  width: 180px;
  float: right  ;
  margin-left: 10px;
}

.Footer {
  background-color: black;
  color: white;
}

.Layout {
  background-color: lightblue;
  font-family: 'Times New Roman';
  width: 800px;
}

.Counter {
  background-color: blue;
  width: 600px;
  float: left;
  color: white;
}
