.App {
  text-align: left;
}

.counter {
  text-align: center;
  background-image: url(./bg-counter.svg);
}

.header {
  text-align: center;
  background-image: url(./bg-header.svg);
}

.nav {
  display: inline-block;
  background-color: green;
}

.navmenu {
  margin: 0 10px;
  padding: 3px 7px;
  background-image: url(./bg-header.svg);
}

.navLeft {
  float: left;
}

.navRight {
  float: right;
}

.dropdown {
  position: absolute;
  right: 0;
  margin-right: 20px;
}

.footer {
  text-align: center;
  font-weight: bold;
  background-image: url(./bg-footer.svg);
  opacity: 0.5;
}

.layout {
  text-align: left;
}
